############################
# npm
############################
node_modules
npm-debug.log

############################
# yarn
############################
yarn-error.log

############################
# tmp, editor & OS files
############################
.tmp
.DS_STORE
*#
*~
.idea

############################
# Tests
############################
testApp
coverage

############################
# Development
############################
.env

############################
# Other
############################
.node_history